{% extends wrapper %}
{% block contents %}
<style type='text/css'>
#container {
  width: 640px;
  height: 500px;
  margin: 0 auto;
  font-family: Georgia, Arial, serif;
}
#canvas {
  background: #ccc;
}
div.banner {
  display: none;
  position: absolute;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #fff;
}
div.banner p {
  padding: 1em 0.5em;
  font-size: 16px;
  text-align: center;
  font-family: Georgia, Arial, serif;
}
a.button:link, a.button:visited {
  color: #000;
  background: #eee;
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 2px 2px #ccc;
}
a.button:hover {
  background: #ddd;
}
#unsupported {
  top: 200px;
}
#footer p {
  font-size: 12px;
  font-family: Georgia, Arial, serif;
  margin: 5px 0 0 0;
  padding: 0;
  text-align: right;
}
#footer a:link, #footer a:visited {
  color: #000;
  text-decoration: underline;
}
#footer a:hover {
  background: #ddd;
}
</style>

<div id='container'>
  <canvas id='canvas' width='640' height='480'></canvas>
  <div id='unsupported' class='banner'>
    <p>Uh oh, you need a modern browser to play Builder.</p>
    <p><a id='force-play' class='button' href='#'>Let me try to play anyway!</a></p>
  </div>
  <div id='footer'>
    <p>About <a href='http://go/buildergame'>Builder</a>.</p>
  </div>
</div>

<script>
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-25858332-1']);
  _gaq.push(['_trackPageview']);
</script>
<script src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js'></script>
<script src='http://www.google-analytics.com/ga.js'></script>

<script src='{{ baseurl }}static/physics.js'></script>
<script src='{{ baseurl }}static/builder.js'></script>
<script>
  builder.start();
</script>

{% endblock %}
