{% extends wrapper %}
{% block contents %}
<style type='text/css'>
#container {
  width: 640px;
  height: 500px;
  margin: 0 auto;
  font-family: Georgia, Arial, serif;
}
#canvas {
  background: #ccc;
}

#error-bar {
  display: none;
  width: 100%;
  margin-bottom: 5px;
  text-align: center;
  color: #fff;
  background: #ff5d4f;
  border-radius: 5px;
  box-shadow: 2px 2px #cc7d76;
}
#error-bar p {
  margin: 3px;
  padding: 3px;
}
#error-bar a:link, #error-bar a:visited {
  color: #fff;
  font-weight: bold;
}

.button {
  display: inline-block;
  color: #333;
  background-color: #eee;
  border: 1px solid #777;
  padding: 0 1.5em;
  margin: 0.5em;
  font: bold 1em/2em Georgia, serif;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 8);
  border-radius: 0.2em;
}
.button:hover {
  background-color: #f9f9f9;
}
.button:active {
  background-color: #ddd;
}
.button:before {
  background: #ccc;
  background: rgba(0, 0, 0, 0.1);
  float: left;
  width: 1em;
  text-align: center;
  font-size: 1.5em;
  margin: 0 1em 0 -1em;
  padding: 0 0.2em;
  box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
  border-radius: 0.15em 0 0 0.15em;
  pointer-events: none;
}
.move:before {
  content: "\2194";
}
.create:before {
  content: "\2737";
}
.share:before {
  content: "\2605";
}

#toggle {
  position: relative;
  top: -54px;
  width: 85px;
}
#share {
  position: relative;
  left: 340px;
  top: -54px;
}

#footer p {
  font-size: 12px;
  font-family: Georgia, Arial, serif;
  margin: 5px 0 0 0;
  padding: 0;
  text-align: right;
}
#footer a:link, #footer a:visited {
  color: #000;
  text-decoration: underline;
}
#footer a:hover {
  background: #ddd;
}
</style>

<div id='container'>
  <div id='error-bar'>
    <p><span id='error-text'>Builder may not work well in your browser.</span> <a id='dismiss' href='#'>Dismiss</a></p>
  </div>
  <canvas id='canvas' width='640' height='480'></canvas>
  <a href='#' id='toggle' class='button move'>Move</a>
  <a href='#' id='share' class='button share'>Share</a>
  <div id='footer'>
    <p>About <a href='http://go/buildergame'>Builder</a>.</p>
  </div>
</div>

<script>
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-25858332-1']);
  _gaq.push(['_trackPageview']);
</script>
<script src='http://www.google-analytics.com/ga.js'></script>
<script src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js'></script>

<script src='{{baseurl}}static/physics.js'></script>
<script src='{{baseurl}}static/builder.js'></script>
<script>
  builder.baseUrl = '{{baseurl}}';
  builder.start();
</script>

{% endblock %}
